body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

video {
  width: 100%;
  height: auto;
}


/*HEADER*/

.cabecalho {
	position: -webkit-sticky;
	position: sticky;
	top: 0; /* apenas para 'ativar' o posicionamento */
}

.cabecalho--fixo {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 2px 7px rgba(0,0,0,0.2);
}

/* MENU */


            #slide-out{
                padding: 0px 30px;
                width: 250px;
            }
            .table-div{
                margin-left: 40px;
                margin-bottom: 8px;
            }
            .menus{
                color: black;
            }
            .row{
                margin: auto 30px 40px 20px;
            }
            .body{
                display: flex;
                flex-direction: column;
                min-height: 100%;
                background-color: #F6F6F6;
            }
            .saldoInicial1{
				border-style: groove;
				border-width: 2px 0px 2px 2px;
            	border-color: green;
  	        	text-align: center;
  	        	width: 120px;
  	        	padding-left: 5px;
  	        	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
            	font-size: 16px;
            	font-weight: bond;
            	line-height: 1.4;
            	
            	
            }
            .saldoInicial2{
           		border-style: groove;           		
				border-width: 2px 2px 2px 0px;
            	border-color: green;
            	font-size: large;
            	font-weight: bond;
            	text-align: center;
            	color: red;
            	line-height: 1.2;
            	font-size: 20px;
            	
            }            
            .page-footer{
                margin-top: auto;
            }
            .collection-item{
                margin: 8px auto;
            }
            .table-of-contents{
                margin-top: 0px;
            }
            .material-icons{
                color: green;
            }
            .page-footer{
                background-color: gainsboro;
            }
            .browser-default{
                background-color: #FFFF; 
                border-radius: 8px;
            }
            .cabecalho-espaco{
            	margin-top: 20px;
            }
            #mesFinal{
                width: 150px;
                height: 40px;
                margin-top: 20px;
            }
            .outer {
                position: relative;
                width: 100%;
            }
              
            .inner {
            left: 40%;
            margin-left: -100px; /* A metade de sua largura. */
            position: absolute;
            width: 200px; /* O valor que você desejar. */
            }
          


.criadores{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center
}



/*BOTOES*/
.btnsNavBar{
	background-color: #08CF23; 
	margin-right: 10px;
	/*padding: 10px 10px 10px 10px;*/
	border-radius: 5px;
}

/*FOOTER*/
.page-footer {
	background: #08CF23;
	height: 60px;
}

.botoes{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}


/*NAVBAR*/
.menus{
	/*color:#08CF23;*/
	color: black;

}

.wrapper {
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}


