
<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8"/>
        <title>Fluxo Caixa</title>

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <link type="text/css" rel="stylesheet" href="styles.css"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
    </head>

    <body class="body">

        <!-- Início do Header -->

        <header class="cabecalho">

            <!-- Logo --> <!-- Botão Entrar --> <!-- Botão Cadastrar -->

            <nav>
                <div class="nav-wrapper" style="background-color: #FFFF; ">
                    <a href="menu" class="brand-logo">
                        <img src="imagens/logo.png" class="responsive-img" style="width: 60px; margin-left: 10px">
                    </a>
                    <ul id="navbar-items" class="right hide-on-med-and-down" style="margin-right: 10px;">
                        <li>

                            <a class="dropdown-trigger" data-target="dropdown-lanc" href="#">
                                <span class="menus">Lançamentos</span>
                                <i class="material-icons right menus" style="margin-left: 1px;">arrow_drop_down</i>
                            </a>

                            <!-- Dropdown -->
                            <ul id="dropdown-lanc" class="dropdown-content">
                                <li><a href="novo-lancamento"><span class="menus">Novo</span></a></li>
                                <li><a href="manutencao-lancamento"><span class="menus">Editar/Excluir</span></a></li>
                                <li><a href="programar-lancamento"><span class="menus">Programar</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="menus">Extratos</a></li>
                        <li>
                            <a class="dropdown-trigger" data-target="dropdown-menu" href="#">
                                <span class="menus" th:text="${session.usuarioLogado.nome}"></span>
                                <i class="material-icons left menus" style="margin-right: 4px;">account_circle</i>
                                <i class="material-icons right menus" style="margin-left: 1px;">arrow_drop_down</i>
                            </a>

                            <!-- Dropdown -->
                            <ul id="dropdown-menu" class="dropdown-content">
				                <li><a href="perfil"><span class="menus">Perfil</span><i class="material-icons left menus" style="margin-right: 4px;">account_box</i></a></li>
                                <li><a href="configuracao"><span class="menus">Config.</span><i class="material-icons left menus" style="margin-right: 4px;">build</i></a></li>
                                <li class="divider"></li>
                                <li><a href="logout"><span class="menus">Sair</span><i class="material-icons left menus" style="margin-right: 4px;">exit_to_app</i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>            
			
        </header>
        <div class="cabecalho-espaco"><br/></div>

        <!-- Bloco de filtros a esquerda -->
        <main class="row">
            <div class="col s2 m2">

                    <ul class="table-of-contents">
                        <label class="centered">Atividades do ano:</label>
                        <select  class="browser-default">
                            <option value="" disabled selected>Escolha o Ano</option>
                            <option value="1">2018</option>
                            <option value="2">2019</option>
                            <option value="3">2020</option>
                        </select>
                        <li class="collection-item"><div>Jan<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                        <li class="collection-item"><div>Fevereiro<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                        <li class="collection-item"><div>Março<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                        <li class="collection-item"><div>Abril<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                        <li class="collection-item"><div>Maio<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                        <li class="collection-item"><div>Junho<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                        <li class="collection-item"><div>Julho<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                        <li class="collection-item"><div>Agosto<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                        <li class="collection-item"><div>Setembro<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                        <li class="collection-item"><div>Outubro<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                        <li class="collection-item"><div>Novembro<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                        <li class="collection-item"><div>Dezembro<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        
                </ul>

            </div>
            <div class="col m9 ">
            	<form method="GET" action="newLan">
            	   	<button data-position="top" data-tooltip="Adicionar um lançamento" type="submit" id="agendar" class="tooltipped table-div btn-floating btn-large waves-effect waves-light #00e676 green accent-3"><i class="material-icons">add</i></button>
            	</form>            
           
			    <div class="z-depth-1 table-div">
			        <table class="centered striped">
                        <thead>
                            <tr>
                                <th>Data</th>
                                <th>Descrição</th>
                                <th>Débito</th>
                                <th>Crédito</th>
                                <th>Saldo</th>		              
                            </tr>
                        </thead>

                        <tbody   th:each="lan : ${lan}">
                            <tr>
                                <td th:text="${lan.data}"></td>
                                <td th:text="${lan.descricao}"></td>
                                <td style="background-color: rgb(128, 255, 134)">
                                    <span th:if="${lan.operacao == 'ENTRADA'}"  th:text="${lan.valor}"></span>
                                </td>
                                <td style="background-color: rgb(255, 74, 74);">                             
                                    <span th:if="${lan.operacao == 'SAIDA'}"  th:text="${lan.valor}"></span>
                                </td>
                                <td th:text="${lan.valor}"></td>
		
                            </tr>
                                        
                        <tbody>					   
                    </table>   
                        <!--<td th:text="${lan.getNome()}"></td>
                        th:each="lan : ${lan}"

                        <div th:switch="${lan.getNome}"> 
                        
                        <td style="background-color: red;" th:text="${lan.getValor()}" th:case="descricao"></td>

                        <td style="background-color: green;" th:text="${lan.getValor()}" th:case="E"></td></div>

                        <td th:text="${lan.getValor()"></td>
                        -->
                </div>
        </main>

        <!-- Fim do Main -->

        <!--Início do Footer -->
    
    </body>
    <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <span style="color: black;"><b>©2020 Copyright: siscaixa.com.br</b></span>
                    <a class="text-lighten-4 right" style="color: black;" href="privacidade" method="get"><b>Política de Privacidade</b></a>
                </div>                
            </div>
    </footer>
        <!-- Fim do Footer -->


        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="main.js"></script>

        <!-- JS p/ navbar -->
        <script>
            function init() {
                var cabecalho = document.querySelector('.cabecalho');
                var cabecalhoEspaco = document.querySelector('.cabecalho-espaco');
                var cabecalhoOffset = cabecalho.offsetTop;

                function verificaCabecalho() {
                    var scrollTop = window.scrollY;
                    var cabecalhoAltura = cabecalho.offsetHeight;

                    if (scrollTop >= cabecalhoOffset) {
                        // rolagem da página passou do elemento, vamos fixá-lo
                        cabecalho.classList.add('cabecalho--fixo');

                        // ativa cabecalho-espaco para ocupar o espaço perdido
                        cabecalhoEspaco.style.height = cabecalhoAltura + 'px';
                    } else {
                        // retira a classe adicional do elemento
                        cabecalho.classList.remove('cabecalho--fixo');

                        // retira a altura do cabecalho-espaco
                        cabecalhoEspaco.style.height = 0;
                    }
                }
                window.addEventListener('scroll', verificaCabecalho);
                window.addEventListener('resize', verificaCabecalho);
            }
            window.addEventListener('load', init);
        </script>   

        <!-- JS p/ sidenav -->
        
        <script>  
            $(document).ready(function(){
                $('.sidenav').sidenav({                 
                });
            });
        </script>
        
        <script> 
        	$(document).ready(function(){
   				$('.tooltipped').tooltip();
        	});
       </script>

       
</html>